.cardList {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1010px) {
  .cardList {
    align-items: center;
    flex-direction: column;
  }
} ;
