.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1010px) {
  .cardList {
    align-items: center;
    flex-direction: column;
  }
} ;
