.cardList {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  padding-top: 20px;
}

@media (max-width: 1010px) {
  .cardList {
    align-items: center;
    flex-direction: column;
  }
} ;
