@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* @font-face {
  font-family: ;
  src: url();
} */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background: #f7f7f7;
}

.page-wrapper {
  background: #fff;
  max-width: 1010px;
  margin: 0 auto;
  padding: 19px 36px;
}

.ant-rate-star {
  margin-right: 4px !important;
}

.ant-tabs-nav::before {
  max-width: 120px;
  margin: 0 auto;
}

.loader-area {
  width: 100%;
  display: flex;
  justify-content: center;
}

.offline-message-area {
  padding: 0 10%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list-global {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}

@media (max-width: 1010px) {
  .card-list-global {
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .page-wrapper {
    padding: 19px 16px;
  }
} ;
